version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: studysync_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: studysync
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  redis_data:
  db_data:
